﻿
#LBChart

{
    position: relative;
}

.overlay {
    display : block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px; /* chartArea top  */
    left: 40px; /* chartArea left */
    font-size: 80px;
    margin-top: 10px;
}

.overlay-label {

    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 220px; /* chartArea top  */
    left: 120px; /* chartArea left */
    font-size: 20px;
}
.overlay-label2 {
 
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 250px; /* chartArea top  */
    left: 120px; /* chartArea left */
    color: red;
    font-size: 35px;
}

