﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link href="~/css/style.css" rel="stylesheet">


    <title>@ViewBag.Title - BagCash</title>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <link href="~/fonts/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/JSFiddle.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar " style="background-color: #00BFFF;">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li>
                    <a href="@Url.Action("Index", "Transacao")" class="navbar-dark">
                        <img src="~/Image/profit (1).png" />
                        BagCash
                    </a>
                </li>

                <li><a href="@Url.Action("Index", "Transacao")" class="navbar-brand">Transações</a></li>
                <li><a href="@Url.Action("Index", "Categoria")" class="navbar-dark">Categorias</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Logout", "Index", "Login")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Logout", "Login")</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <div class="text-center">
                <br />
                <br />
                <p>Bag Cash Corporation</p>
                <p>Desenvolvido por</p>
                <p>João Vitor & Paulo Ferreira</p>
                <p>&copy; @DateTime.Now.Year</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
