﻿@model GerenciadorFinanceiro.Models.Transacao

@{
                /**/

                ViewBag.Title = "Extrato de Transacões";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="container">
    <div class="card-group" style="margin-top:20px">
        <div class="card shadow m-2 mb-5  bg-white rounded">
            <div class="card-header h5 text-white bg-success">
                Saldo Atual
            </div>
            <p class="text-success m-2 h4 text-right">R$ @ViewBag.SaldoDoMes</p>
        </div>

        <div class="card shadow m-2 mb-5 bg-white rounded">
            <div class="card-header h5 text-white bg-info">
                Receitas
            </div>
            <p class="text-info m-2 h4 text-right">R$ @ViewBag.ReceitasDoMes</p>
        </div>

        <div class="card shadow m-2 mb-5 bg-white rounded">
            <div class="card-header h5 text-white bg-danger">
                Despesas
            </div>
            <p class="text-danger m-2 h4 text-right">R$ @ViewBag.DespesasDoMes</p>
        </div>

    </div>

    <div class="card shadow m-2 mb-5 bg-white rounded">
        <div class="card-header h3 text-dark">
            Transações 
        </div>
        <div class="card-body">
            <h5 class="card-title">Total de transações pendentes</h5>
            <p class="card-text">Verifique as datas de suas transações pendesntes</p>
            <a href="#" class="btn btn-outline-primary">Editar Transações</a>
            @Html.ActionLink("Suas Transações", "SuasTransacoes")
        </div>
    </div>

        <div class="card shadow m-2 mb-5 bg-white rounded">
            <div class="card-header h3 text-dark">
                Extrato de Transações
            </div>
            <div class="form-row p-3">
                <div class="form-group col">
                    <label class="h6" for="inputDataInicio">Data de Início</label>
                    <input type="date" name="DataInicio" class="form-control" id="inputDataInicio">
                </div>

                <div class="form-group col">
                    <label class="h6" for="inputDataFim">Data Final</label>
                    <input type="date" name="DataFim" class="form-control" id="inputDataFinal">
                </div>
                <div class="form-group col">
                    <label class="h6" for="inputTipo">Tipo de Transação</label>
                    @Html.EnumDropDownListFor(model => model.TipoTransacao, "Selecione o Tipo", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="h6" for="inputCategoria">Categoria</label>
                    <div class="col-md-10">
                        @Html.DropDownList("CategoriaId", null, "Selecione", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col">
                    <label class="h6" for="inputDataInicio">Status</label>
                    <div class="checkbox">
                        @Html.EditorFor(expression: model => model.Status)
                    </div>
                </div>
            </div>

            <div class="float-right m-3">
                <a href="#" class="btn btn-outline-info" id="btnBuscar" style="float:right">Buscar</a>
            </div>
            <div class="card-group" id="ExtratoLista">

            </div>
        </div>

    <div id="ExtratoLista"></div>

</div>


@section scripts
{
    <script type="text/javascript">

    $(function() {
        $("#btnBuscar").click(function (e) {
            e.preventDefault();
            var dataInicio = $("#inputDataInicio").val();
            var dataFim = $("#inputDataFinal").val();
            var tipoT = $("#TipoTransacao").val();
            var cat = $("#CategoriaId").val();
            var status = $("#Status").is(':checked');
            $("#ExtratoLista").load('@Url.Action("BuscaExtratoDeTransacoes", "Transacao")'
                , { data1: dataInicio, data2: dataFim, tipo: tipoT, categoria: cat, status: status });
        });
    });
        @*$("#TipoTransacao").("change", function() {
        var tipoT = $(this).val();
        var dataInicio = $("#inputDataInicio").val();
        var dataFim = $("#inputDataFinal").val();
        $("#lista").load('@Url.Action("BuscaExtratoDeTransacoes", "Transacao")', { data1: dataInicio , data2: dataFim , tipo: tipoT });
        });*@


    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    </script>
}
